{
    "openapi": "3.1.0",
    "servers": [
        {
            "url": "https://gen.pollinations.ai"
        }
    ],
    "info": {
        "title": "Pollinations.AI API",
        "description": "Documentation for `gen.pollinations.ai` - the Pollinations.AI API gateway.\n\n[\ud83d\udcdd Edit docs](https://github.com/pollinations/pollinations/edit/master/enter.pollinations.ai/src/routes/docs.ts)\n\n## Quick Start\n\nGet your API key at https://enter.pollinations.ai\n\n### Image Generation\n```bash\ncurl 'https://gen.pollinations.ai/image/a%20cat?model=flux' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'\n```\n\n### Text Generation\n```bash\ncurl 'https://gen.pollinations.ai/v1/chat/completions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"model\": \"openai\", \"messages\": [{\"role\": \"user\", \"content\": \"Hello\"}]}'\n```\n\n### Vision (Image Input)\n```bash\ncurl 'https://gen.pollinations.ai/v1/chat/completions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"model\": \"openai\", \"messages\": [{\"role\": \"user\", \"content\": [{\"type\": \"text\", \"text\": \"Describe this image\"}, {\"type\": \"image_url\", \"image_url\": {\"url\": \"https://example.com/image.jpg\"}}]}]}'\n```\n\n**Note:** `gemini` model has `code_execution`, `google_search`, `url_context` tools enabled by default. Pass your own `tools` array to override.\n\n### Simple Text Endpoint\n```bash\ncurl 'https://gen.pollinations.ai/text/hello?key=YOUR_API_KEY'\n```\n\n### Streaming\n```bash\ncurl 'https://gen.pollinations.ai/v1/chat/completions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"model\": \"openai\", \"messages\": [{\"role\": \"user\", \"content\": \"Write a poem\"}], \"stream\": true}' \\\n  --no-buffer\n```\n\n### Model Discovery\n**Always check available models before testing:**\n\n- **Image models:** [/image/models](https://gen.pollinations.ai/image/models)\n- **Text models:** [/v1/models](https://gen.pollinations.ai/v1/models)\n\n## Authentication\n\n**Two key types:**\n- **Publishable Keys (`pk_`):** Client-side safe, IP rate-limited (1 pollen/hour per IP+key)\n- **Secret Keys (`sk_`):** Server-side only, no rate limits, can spend Pollen\n\n**Auth methods:**\n1. Header: `Authorization: Bearer YOUR_API_KEY`\n2. Query param: `?key=YOUR_API_KEY`",
        "version": "0.3.0"
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "API Key",
                "description": "API key from enter.pollinations.ai dashboard"
            }
        },
        "schemas": {
            "CacheControl": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "ephemeral"
                        ]
                    }
                },
                "required": [
                    "type"
                ]
            },
            "MessageContentPart": {
                "anyOf": [
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "const": "text"
                            },
                            "text": {
                                "type": "string"
                            },
                            "cache_control": {
                                "$ref": "#/components/schemas/CacheControl"
                            }
                        },
                        "required": [
                            "type",
                            "text"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "const": "image_url"
                            },
                            "image_url": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "detail": {
                                        "type": "string",
                                        "enum": [
                                            "auto",
                                            "low",
                                            "high"
                                        ]
                                    },
                                    "mime_type": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ]
                            }
                        },
                        "required": [
                            "type",
                            "image_url"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "const": "video_url"
                            },
                            "video_url": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "mime_type": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ]
                            }
                        },
                        "required": [
                            "type",
                            "video_url"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "const": "input_audio"
                            },
                            "input_audio": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "string"
                                    },
                                    "format": {
                                        "type": "string",
                                        "enum": [
                                            "wav",
                                            "mp3",
                                            "flac",
                                            "opus",
                                            "pcm16"
                                        ]
                                    }
                                },
                                "required": [
                                    "data",
                                    "format"
                                ]
                            },
                            "cache_control": {
                                "$ref": "#/components/schemas/CacheControl"
                            }
                        },
                        "required": [
                            "type",
                            "input_audio"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "const": "file"
                            },
                            "file": {
                                "type": "object",
                                "properties": {
                                    "file_data": {
                                        "type": "string"
                                    },
                                    "file_id": {
                                        "type": "string"
                                    },
                                    "file_name": {
                                        "type": "string"
                                    },
                                    "file_url": {
                                        "type": "string"
                                    },
                                    "mime_type": {
                                        "type": "string"
                                    }
                                }
                            },
                            "cache_control": {
                                "$ref": "#/components/schemas/CacheControl"
                            }
                        },
                        "required": [
                            "type",
                            "file"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "type"
                        ],
                        "additionalProperties": {}
                    }
                ]
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "gen.pollinations.ai",
            "description": "Generate text, images, and videos using AI models"
        }
    ],
    "paths": {
        "/polar/customer/state": {},
        "/polar/customer/events": {},
        "/polar/customer/pending-spend": {},
        "/polar/customer/portal": {},
        "/polar/checkout/{slug}": {},
        "/tiers/view": {},
        "/api-keys/{id}/update": {},
        "/usage": {},
        "/v1/models": {
            "get": {
                "operationId": "getGenerateV1Models",
                "tags": [
                    "gen.pollinations.ai"
                ],
                "description": "Get available text models (OpenAI-compatible). If an API key with model restrictions is provided, only allowed models are returned.",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "OpenAI-compatible list of available models.",
                                    "type": "object",
                                    "properties": {
                                        "object": {
                                            "type": "string",
                                            "const": "list"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "description": "OpenAI-compatible model object",
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "object": {
                                                        "type": "string",
                                                        "const": "model"
                                                    },
                                                    "created": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "object",
                                                    "created"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "object",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Oh snap, something went wrong on our end. We're on it!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 500
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "INTERNAL_ERROR"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "Oh snap, something went wrong on our end. We're on it!"
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image/models": {
            "get": {
                "operationId": "getGenerateImageModels",
                "tags": [
                    "gen.pollinations.ai"
                ],
                "description": "Get a list of available image generation models with pricing, capabilities, and metadata. If an API key with model restrictions is provided, only allowed models are returned.",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of models with pricing and metadata",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "aliases": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "pricing": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "propertyNames": {
                                                            "type": "string"
                                                        },
                                                        "additionalProperties": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "string",
                                                                    "const": "pollen"
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "currency": {
                                                                "type": "string",
                                                                "const": "pollen"
                                                            }
                                                        },
                                                        "required": [
                                                            "currency"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "input_modalities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "output_modalities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "tools": {
                                                "type": "boolean"
                                            },
                                            "reasoning": {
                                                "type": "boolean"
                                            },
                                            "context_window": {
                                                "type": "number"
                                            },
                                            "voices": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "is_specialized": {
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "name",
                                            "aliases",
                                            "pricing"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Oh snap, something went wrong on our end. We're on it!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 500
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "INTERNAL_ERROR"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "Oh snap, something went wrong on our end. We're on it!"
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/text/models": {
            "get": {
                "operationId": "getGenerateTextModels",
                "tags": [
                    "gen.pollinations.ai"
                ],
                "description": "Get a list of available text generation models with pricing, capabilities, and metadata. If an API key with model restrictions is provided, only allowed models are returned.",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of models with pricing and metadata",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "aliases": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "pricing": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "propertyNames": {
                                                            "type": "string"
                                                        },
                                                        "additionalProperties": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number"
                                                                },
                                                                {
                                                                    "type": "string",
                                                                    "const": "pollen"
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "currency": {
                                                                "type": "string",
                                                                "const": "pollen"
                                                            }
                                                        },
                                                        "required": [
                                                            "currency"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "input_modalities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "output_modalities": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "tools": {
                                                "type": "boolean"
                                            },
                                            "reasoning": {
                                                "type": "boolean"
                                            },
                                            "context_window": {
                                                "type": "number"
                                            },
                                            "voices": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "is_specialized": {
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "name",
                                            "aliases",
                                            "pricing"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Oh snap, something went wrong on our end. We're on it!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 500
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "INTERNAL_ERROR"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "Oh snap, something went wrong on our end. We're on it!"
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/chat/completions": {
            "post": {
                "operationId": "postGenerateV1ChatCompletions",
                "tags": [
                    "gen.pollinations.ai"
                ],
                "description": "OpenAI-compatible chat completions endpoint.\n\n**Legacy endpoint:** `/openai` (deprecated, use `/v1/chat/completions` instead)\n\n**Authentication (Secret Keys Only):**\n\nInclude your API key in the `Authorization` header as a Bearer token:\n\n`Authorization: Bearer YOUR_API_KEY`\n\nAPI keys can be created from your dashboard at enter.pollinations.ai.\nSecret keys provide the best rate limits and can spend Pollen.",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "choices": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "finish_reason": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "index": {
                                                        "type": "integer",
                                                        "minimum": 0,
                                                        "maximum": 9007199254740991
                                                    },
                                                    "message": {
                                                        "type": "object",
                                                        "properties": {
                                                            "content": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "tool_calls": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string",
                                                                                    "const": "function"
                                                                                },
                                                                                "function": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "arguments": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "arguments"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id",
                                                                                "type",
                                                                                "function"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "role": {
                                                                "type": "string",
                                                                "const": "assistant"
                                                            },
                                                            "function_call": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "arguments": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "arguments",
                                                                            "name"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "content_blocks": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "const": "text"
                                                                                        },
                                                                                        "text": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "cache_control": {
                                                                                            "$ref": "#/components/schemas/CacheControl"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "text"
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "const": "thinking"
                                                                                        },
                                                                                        "thinking": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "thinking"
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "const": "redacted_thinking"
                                                                                        },
                                                                                        "data": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "data"
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "audio": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "transcript": {
                                                                                "type": "string"
                                                                            },
                                                                            "data": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "expires_at": {
                                                                                "type": "integer",
                                                                                "minimum": -9007199254740991,
                                                                                "maximum": 9007199254740991
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "transcript",
                                                                            "data"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            "reasoning_content": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "role"
                                                        ]
                                                    },
                                                    "logprobs": {
                                                        "anyOf": [
                                                            {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "content": {
                                                                                "anyOf": [
                                                                                    {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                "token": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "logprob": {
                                                                                                    "type": "number"
                                                                                                },
                                                                                                "bytes": {
                                                                                                    "anyOf": [
                                                                                                        {
                                                                                                            "type": "array",
                                                                                                            "items": {
                                                                                                                "type": "integer",
                                                                                                                "minimum": -9007199254740991,
                                                                                                                "maximum": 9007199254740991
                                                                                                            }
                                                                                                        },
                                                                                                        {
                                                                                                            "type": "null"
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                "top_logprobs": {
                                                                                                    "type": "array",
                                                                                                    "items": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                            "token": {
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "logprob": {
                                                                                                                "type": "number"
                                                                                                            },
                                                                                                            "bytes": {
                                                                                                                "anyOf": [
                                                                                                                    {
                                                                                                                        "type": "array",
                                                                                                                        "items": {
                                                                                                                            "type": "integer",
                                                                                                                            "minimum": -9007199254740991,
                                                                                                                            "maximum": 9007199254740991
                                                                                                                        }
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "type": "null"
                                                                                                                    }
                                                                                                                ]
                                                                                                            }
                                                                                                        },
                                                                                                        "required": [
                                                                                                            "token",
                                                                                                            "logprob",
                                                                                                            "bytes"
                                                                                                        ]
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "token",
                                                                                                "logprob",
                                                                                                "bytes",
                                                                                                "top_logprobs"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "type": "null"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "content"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "content_filter_results": {
                                                        "anyOf": [
                                                            {
                                                                "$ref": "#/components/schemas/ContentFilterResult"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "prompt_filter_results": {
                                            "anyOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "prompt_index": {
                                                                "type": "integer",
                                                                "minimum": 0,
                                                                "maximum": 9007199254740991
                                                            },
                                                            "content_filter_results": {
                                                                "$ref": "#/components/schemas/ContentFilterResult"
                                                            }
                                                        },
                                                        "required": [
                                                            "prompt_index"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ]
                                        },
                                        "created": {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "system_fingerprint": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ]
                                        },
                                        "object": {
                                            "type": "string",
                                            "const": "chat.completion"
                                        },
                                        "usage": {
                                            "$ref": "#/components/schemas/CompletionUsage"
                                        },
                                        "user_tier": {
                                            "type": "string",
                                            "enum": [
                                                "anonymous",
                                                "seed",
                                                "flower",
                                                "nectar"
                                            ]
                                        },
                                        "citations": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "choices",
                                        "created",
                                        "model",
                                        "object",
                                        "usage"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Something was wrong with the input data, check the details for more info.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 400
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "BAD_REQUEST"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "Something was wrong with the input data, check the details for more info."
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ValidationErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to authenticate by providing a session cookie or Authorization header (Bearer token).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 401
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "UNAUTHORIZED"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "You need to authenticate by providing a session cookie or Authorization header (Bearer token)."
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Oh snap, something went wrong on our end. We're on it!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "const": 500
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "const": "INTERNAL_ERROR"
                                                },
                                                "message": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string",
                                                            "const": "Oh snap, something went wrong on our end. We're on it!"
                                                        },
                                                        {
                                                            "type": "string"
                                                        }
                                                    ]
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "$ref": "#/components/schemas/ErrorDetails"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "cause": {}
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "timestamp",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "messages": {
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "$ref": "#/components/schemas/MessageContentPart"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "const": "system"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "cache_control": {
                                                            "$ref": "#/components/schemas/CacheControl"
                                                        }
                                                    },
                                                    "required": [
                                                        "content",
                                                        "role"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "$ref": "#/components/schemas/MessageContentPart"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "const": "developer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "cache_control": {
                                                            "$ref": "#/components/schemas/CacheControl"
                                                        }
                                                    },
                                                    "required": [
                                                        "content",
                                                        "role"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "$ref": "#/components/schemas/MessageContentPart"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "const": "user"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "content",
                                                        "role"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "minItems": 1,
                                                                            "type": "array",
                                                                            "items": {
                                                                                "$ref": "#/components/schemas/MessageContentPart"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "const": "assistant"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "tool_calls": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "const": "function"
                                                                    },
                                                                    "function": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "arguments": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "arguments"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "type",
                                                                    "function"
                                                                ]
                                                            }
                                                        },
                                                        "function_call": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "arguments": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "arguments",
                                                                        "name"
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "cache_control": {
                                                            "$ref": "#/components/schemas/CacheControl"
                                                        }
                                                    },
                                                    "required": [
                                                        "role"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "const": "tool"
                                                        },
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "minItems": 1,
                                                                            "type": "array",
                                                                            "items": {
                                                                                "$ref": "#/components/schemas/MessageContentPart"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "tool_call_id": {
                                                            "type": "string"
                                                        },
                                                        "cache_control": {
                                                            "$ref": "#/components/schemas/CacheControl"
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content",
                                                        "tool_call_id"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "const": "function"
                                                        },
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "null"
                                                                }
                                                            ]
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content",
                                                        "name"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "model": {
[...]
